In [3]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
import joblib
from sklearn.datasets import load_iris

In [4]:
#loading the dataset into a pandas dataframe
data= load_iris()
data.feature_names
df= pd.DataFrame(data.data)
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [5]:
#renaming the columns with the actual column names that is sepal and petal width and length
df.columns= data.feature_names
data.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [6]:
#inserting the target feature in the dataset
df["target"]= data.target

In [8]:
#getting our X and y to feed it into the ML model
X= df.drop("target", axis=1)
y= df.target

In [9]:
#splitting the dataset into train and test
X_train,X_test,y_train,y_test= train_test_split(X,y, test_size=0.2, random_state=42)

In [10]:
#loading the SVC model by creating an object of the class
model= SVC()

In [11]:
#training the model
model.fit(X_train,y_train)

SVC()

In [12]:
#making predictions
y_pred= model.predict(X_test)

In [13]:
#pickling the model
joblib.dump(model, "model.pkl")
c= [2,3,3,4]
from_jb= joblib.load("model.pkl")
from_jb.predict([c])

array([2])